

/* LINK HOME */

.Link-Home{
    margin-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-decoration: none;
}

.Link-Home-Background{
    background-color:white;
}

body{
    background-color:rgb(252, 222, 100);
}
.navbar{
    background-color: rgb(252, 222, 100);
    
}





/* Cards Novidades */
.img-fluid{
    width: 800px;
    margin-left: 0px;
}

.card-body{
    margin-top: 50px;
    
    text-align: left;
    font-style: italic;
    font-size: 20px;
}




/* menu */
.img-logo{
    padding-top: 1px;
}

.navbar-expand-lg{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
}

.d-flex{
    margin-left: 28%;
}

.navbar-item{
    margin-left: 20px;
}
.bi-handbag-fill{
    font-size: 20px;
}


.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

#produtos{
    padding: 0px;
}

.produtos{
     background-color:white ;
     text-align: center;

}

.row{
    width: 90%;
    margin: auto;
}

.text-center{
    margin-bottom: 10px;
    padding: 30px;
    color: black;
    
}

.produto-texto{
    background-color:#EAFF36;
    width: 32%;
    margin: auto;
    margin-bottom: 10px;
}



.carousel-inner{
    background-color:burlywood;
}


.como-surgiu{
    background-color: white;
    color: black;
    text-align: center;
    font-style: italic;
    font-family: sans-serif;
    padding: 30px;
    line-height: 40px;
}

.p{
    text-align: justify;
    padding: 25px;
    font-style: initial;
}
.bymeps-link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style-type: none;
    color: #000;
    font-style: normal;
    margin-top: 0px;
}

.hashtag-bymeps{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    font-style: normal;
    list-style-type: none;
    text-decoration: none;
}

.hashtag-contato{
    list-style-type: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
.madu-foto{
    margin-bottom: 20px;
    border-radius: 15px;
}


/* NOVIDADES */
.text-center{
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


.texto-novidade{
    text-align: left;
    width: 22%;
    display: inline-block;
    padding-left: 20px;
}

.container{
    width: 80%;
}










.imagens{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
}
.legenda-produtos{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: 18px;
}

